.rounded{
    height: 100%;
    width: 100%;
}
.roundedtable{
    // width: 100%;
    height: 30%;
}
.Title{
    font-weight: 700;
}

.btn{
    position: absolute;
    bottom: 0;
    right: 0px;
    margin: 10px;
}

.tbl{
    float: left;
    overflow-y: auto;
    height: 700px;
}

.imgtag{
    text-align: center;
}